.loginOutWrap{position:relative;cursor:pointer;border:1px solid #ccc;border-radius: 10px;overflow: hidden}
.loginOutWrap:hover{border-color: #1CCC8E;}
.loginOutWrap span:hover{background:#1ccc8E;color:#fff;}
.loginOutWrap img{
  width: 35px;
  height:35px;
  border-radius: 50%;
  border:3px solid #fff;
  vertical-align: middle;
  margin:0px 10px;
}

.loginOutWrap span{
  display: inline-block;
  padding:10px 20px;
  font-size:16px;
  font-weight: bold;
}

.loginOutWrap .loginOut{
  width: 100%;
  height:40px;
  line-height: 40px;
  background:#ccc;
  color:#fff;
}
.loginOutWrap .loginOut:hover{
  background:#1ccc8E;
}
