html,body{
  width:100%;
  height:100%;
  font-family: 'Microsoft YaHei UI';
  padding:0px;
  margin:0px;
}

.clear:after{
  display:block;
  content:"";
  clear:both;
}

.left{
  float:left;
}

.right{
  float:right;
}

ul{list-style:none;margin: 0px;}

#app{margin-top:0px!important;}

.mainbtn{
  padding: 10px 40px;
  background: #4fc08d;
  color:#fff;
  border-radius: 20px;
  cursor:pointer;
  font-size:20px;
}

.mainbtn:hover{
  background: #1ccc8E;
}
